# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname
POSTGRES_PORT=5432

# JWT
JWT_SECRET=yoursecretkey
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
JWT_ISSUER=myapp

# Database
DATABASE_URL=postgresql+asyncpg://user:password@db:5432/dbname